body {
  background: url('http://i.imgur.com/gQ2GbZI.jpg');
  background-size   : 100% 100%;
  background-repeat : no-repeat;
}
.navMain {
  background : rgb(93, 222, 43);
}
.navLinks {
  background : rgb(210, 236, 48);
}
p, h1, a {
  font-color : green;
  font-family: 'Paytone One', sans-serif;
  font-size: 25px;
  font-weight: bolder;
}
h1 {
  font-size: 50px !important;
}
button {
  font-color: rgb(17, 20, 97);
  font-family: 'Bangers', cursive;
  font-size: 60px;
  font-weight: bold;
}
.about {
  background: rgba(251, 246, 251, 0.7);
  position: relative;
  left: 15%;
  width: 66%;
  height: 100%;
}
.votes {
  background: rgba(251, 246, 251, 0.7);
  margin: 0 auto;
}
.address {
  background: rgba(251, 246, 251, 0.7);
  width: 75%;
  position: relative;
  left: 12%;
}
.imgDiv {
  justify-content: center;
}
.imgClass {
  margin: 0;
  widht: 650px;
  height: 400px;
}
@media (min-width: 480px) {
  .imgClass {
    margin: 0;
    width: 400px;
    height: 225px;
  }
}
